#units-button {
    color: blue;
    cursor: pointer;
    font-size: 17px;
    padding: 0 0 0 0px;
}

#temp {
    display: inline-block;
}

* {
    font-family: monospace;
    font-size: 1.1em;
}

body {
    width: 100%;
    text-align: center;
}

.container {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    min-height: 30rem;
    min-width: 19rem;
}
